startup --max_idle_secs=60

common --enable_bzlmod
common --announce_rc
common --color=yes
common --curses=yes
common --experimental_convenience_symlinks=clean
common --enable_platform_specific_config

build --keep_going
build --jobs=auto
build --show_timestamps
build --repo_env=RULES_ERLANG_SKIP_SYSTEM=1
build --repo_env=RULES_ELIXIR_SKIP_SYSTEM=1

test --test_output=errors
test --test_strategy=standalone

try-import %workspace%/.bazelrc.local
try-import %workspace%/.bazelrc.remote

build:no_remote --remote_executor=
build:no_remote --remote_cache=
build:no_remote --remote_upload_local_results=false
build:no_remote --remote_download_minimal
build:no_remote --bes_backend=
build:no_remote --bes_results_url=

build:ci --keep_going --build_tag_filters=-manual
build:ci --config=remote_base
build:ci --build_metadata=ROLE=CI

test:ci --test_tag_filters=-manual --test_output=errors

build:remote_base --bes_results_url=https://carverauto.buildbuddy.io/invocation/
build:remote_base --bes_backend=grpcs://carverauto.buildbuddy.io
build:remote_base --remote_cache=grpcs://carverauto.buildbuddy.io
build:remote_base --remote_executor=grpcs://remote.buildbuddy.io
build:remote_base --remote_timeout=15m
build:remote_base --remote_default_exec_properties=container-image=docker://ghcr.io/carverauto/serviceradar/rbe-executor:v1.0.20
build:remote_base --remote_default_exec_properties=OSFamily=Linux
build:remote_base --remote_default_exec_properties=Arch=amd64
build:remote_base --remote_default_exec_properties=Pool=default
build:remote_base --host_platform=//:rbe_platform
build:remote_base --platforms=//:rbe_platform
build:remote_base --extra_execution_platforms=//:rbe_platform
build:remote_base --crosstool_top=@buildbuddy_toolchain//:toolchain
build:remote_base --extra_toolchains=@buildbuddy_toolchain//:cc_toolchain
build:remote_base --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote_base --incompatible_strict_action_env
build:remote_base --remote_download_minimal
build:remote_base --remote_upload_local_results
build:remote_base --jobs=100

build:remote --config=remote_base
