THREADR_DB_HOST=localhost
THREADR_DB_PORT=55432
THREADR_DB_USER=postgres
THREADR_DB_PASSWORD=postgres
THREADR_DB_NAME=threadr_dev
THREADR_TEST_DB_NAME=threadr_test
THREADR_NATS_HOST=localhost
THREADR_NATS_PORT=54222
THREADR_BROADWAY_ENABLED=false
